/*
 * index.scss 
 */

@import "normalize";

@mixin box-sizing($prop) {
    -webkit-box-sizing: $prop;
    -moz-box-sizing: $prop;
    box-sizing: $prop;
}

// generic transform
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
            transform: $transforms;
}

html, body, * {
    margin: 0;
    padding: 0;
    @include box-sizing(border-box);
}

html, body {
    overflow: hidden;
}

#webvj--container {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#webvj--indicator {
    position: absolute;
    width: 100vw;
    height: 100vh;
    text-align: center;

    img {
        z-index: 100;
        position: relative;
        width: 100px;
        height: 100px;

        top: 50%;
        @include transform(translateY(-60%));
    }
}

#webvj--description {
    z-index: 1000;
    position: fixed;
    top: 10px;
    left: 10px;

    font-family: HelveticaNeue, Helvetica, "Hiragino Kaku Gothic ProN", meiryo, 'ms pgothic', Arial, sans-serif;

    div {
        padding: 00px 0px 10px 10px;
    }

    .header {
        h1 {
            display: inline-block;
            letter-spacing: 1px;
            color: #333333;
            margin: 0px;
            font-size: 26px;
            font-weight: normal;
        }

        img {
            margin-left: 4px;
            display: inline-block;
            width: 18px;
            &:hover {
            }
        }
    }

    .content {
        p {
            font-size: 15px;
        }
    }

    .content, .profile {
        a {
            color: #333333;
            font-size: 15px;
            text-decoration: none;
            border-bottom: 1px solid #888888;
            display: inline;

            &:hover {
                color: #888888;
                border-bottom: 0px solid #888888;
            }
        }
    }

    .profile {
    }

}

$keyWidthPC: 80px;
$keyHeightPC: 28px;

.virtual-keyboard {
    z-index: 1000;
    position: fixed;
    left: calc(50% - 320px);
    bottom: 20px;

    width: 640px;

    div {
        padding: 0px 10px 0px 10px;
    }

    div {
        p.description {
            font-size: 12px;
        }
        margin-bottom: 5px;
    }

    div.keyboard-row {
        margin-bottom: 3px;

        span {
            font-size: 13px;
            display: inline-block;
            margin-right: 10px;
            width: 50px;
            height: $keyHeightPC;
            line-height: $keyHeightPC;
        }

        ul {
            list-style: none;
            display: inline-block;
            height: $keyHeightPC;

            li {
                margin-right: 3px;
                display: inline-block;

                button {
                    width: $keyWidthPC;
                    line-height: $keyHeightPC;

                    border: 1px solid #000;
                    border-radius: 4px;
                    background-color: transparent;
                    font-size: 11px;

                    &:focus {
                        outline: 0;
                    }

                    &.pressed {
                        border: 1px solid #fff;
                        color: white;

                        background-color: rgba(0, 0, 0, 0.4);
                        -webkit-transition: .2s ease-in-out;
                        transition: .2s ease-in-out;
                    }
                }
            }
        }

        &:nth-child(3) {
            margin-left: calc(#{$keyWidthPC} / 3);
        }

        &:nth-child(4) {
            margin-left: $keyWidthPC;
        }

        &:last-child {
            margin-bottom: 0px;
        }
    }
}

$keyWidthTablet: 60px;
$keyHeightTablet: 22px;

$keyWidthMobile: 40px;
$keyHeightMobile: 22px;

@media screen and (max-width: 640px) {
    .virtual-keyboard {
        width: 320px;
        left: calc(50% - 160px);

        div.keyboard-row {
            span {
                display: none;
            }

            ul {
                height: $keyHeightMobile;
                li {
                    button {
                        width: $keyWidthMobile;
                        line-height: $keyHeightMobile;
                        font-size: 10px;
                    }
                }
            }

            &:nth-child(3) {
                margin-left: calc(#{$keyWidthMobile} / 3);
            }

            &:nth-child(4) {
                margin-left: $keyWidthMobile;
            }

        }
    }
}




